/*   **************************************   */
/*   ****************GLOBAL****************   */
/*   **************************************   */

* {
  font-family: "DejaVu Sans Mono";
  font-size: 11px;
  font-weight: bold;
  border-radius: 0px;
}

/*   *********************************************   */
/*   ****************MISCELLANEOUS****************   */
/*   *********************************************   */

window#waybar {
  background-color: rgba(23, 18, 26, 0.5);
}

#workspaces button {
  box-shadow: inherit;
  text-shadow: inherit;
}

/*   *****************************************************   */
/*   ****************MODULES-STYLE-DEFAULT****************   */
/*   *****************************************************   */

#custom-showPowerOptions,
#custom-sleep,
#custom-reboot,
#custom-shutdown,
#cpu,
#memory,
#custom-uptime,
#workspaces button,
#wireplumber,
#bluetooth,
#network,
#clock {
  transition: 250ms;
  color: #f5edb5;
  background-color: #17121a;
  border: 1px solid #f5edb5;
  padding: 0 8px 0 8px;
  margin: 2px 0 2px 0;
}

#custom-showPowerOptions:hover,
#custom-sleep:hover,
#custom-reboot:hover,
#custom-shutdown:hover,
#cpu:hover,
#memory:hover,
#custom-uptime:hover,
#workspaces button:hover,
#wireplumber:hover,
#bluetooth:hover,
#network:hover,
#clock:hover {
  color: #ff5b5b;
  border-color: #ff5b5b;
}

/*   **************************************************   */
/*   ****************MODULES-LEFT-STYLE****************   */
/*   **************************************************   */

#custom-showPowerOptions,
#custom-sleep,
#custom-reboot,
#custom-shutdown,
#cpu,
#memory {
  margin-right: 2px;
}

/*   ****************************************************   */
/*   ****************MODULES-CENTER-STYLE****************   */
/*   ****************************************************   */

#workspaces button {
  margin-left: 1px;
  margin-right: 1px;
  color: #b8b288;
}

#workspaces button.active {
  color: #f5edb5;
}

/*   ***************************************************   */
/*   ****************MODULES-RIGHT-STYLE****************   */
/*   ***************************************************   */

#wireplumber,
#bluetooth,
#network,
#custom-uptime,
#clock {
  margin-left: 2px;
}

/*   *********************************************   */
/*   ****************MISCELLANEOUS****************   */
/*   *********************************************   */

*.disabled,
*.disconnected,
*.off,
*.muted {
  text-decoration-line: line-through;
  text-decoration-color: #b8b288;
  color: #b8b288;
  border-color: #b8b288;
}

tooltip {
  color: #ff5b5b;
  border-color: #ff5b5b;
}
tooltip label {
  background-color: transparent;
}
