/*   **************************************   */
/*   ****************GLOBAL****************   */
/*   **************************************   */

* {
  font-family: "DejaVu Sans Mono";
  border-radius: 0px;
  font-weight: bold;
  font-size: 11px;
}

/*   *********************************************   */
/*   ****************MISCELLANEOUS****************   */
/*   *********************************************   */

window#waybar {
  background-color: #17121a /*rgba(23, 18, 26, 1)*/;
}

#workspaces button {
  text-shadow: inherit;
  box-shadow: inherit;
}

/*   *****************************************************   */
/*   ****************MODULES-STYLE-DEFAULT****************   */
/*   *****************************************************   */

#custom-showPowerOptions,
#custom-sleep,
#custom-reboot,
#custom-shutdown,
#cpu,
#memory,
#custom-uptime,
#workspaces button,
#wireplumber,
#bluetooth,
#network,
#clock {
  border-color: #f5edb5 #ff5b5b #ff5b5b #f5edb5;
  background-color: #110e14;
  padding: 0 8px 0 8px;
  border-style: solid;
  margin: 2px 0 2px 0;
  transition: 250ms;
  border-width: 1px;
  color: #f5edb5;
}

#custom-showPowerOptions:hover,
#custom-sleep:hover,
#custom-reboot:hover,
#custom-shutdown:hover,
#cpu:hover,
#memory:hover,
#custom-uptime:hover,
#workspaces button:hover,
#wireplumber:hover,
#bluetooth:hover,
#network:hover,
#clock:hover {
  border-color: #ff5b5b #f5edb5 #f5edb5 #ff5b5b;
  color: #ff5b5b;
}

/*   **************************************************   */
/*   ****************MODULES-LEFT-STYLE****************   */
/*   **************************************************   */

#custom-showPowerOptions,
#custom-sleep,
#custom-reboot,
#custom-shutdown,
#cpu,
#memory {
  margin-right: 2px;
}

/*   ****************************************************   */
/*   ****************MODULES-CENTER-STYLE****************   */
/*   ****************************************************   */

#workspaces button {
  margin-right: 1px;
  margin-left: 1px;
  color: #b8b288;
}

#workspaces button.active {
  color: #f5edb5;
}

/*   ***************************************************   */
/*   ****************MODULES-RIGHT-STYLE****************   */
/*   ***************************************************   */

#wireplumber,
#bluetooth,
#network,
#custom-uptime,
#clock {
  margin-left: 2px;
}

/*   *********************************************   */
/*   ****************MISCELLANEOUS****************   */
/*   *********************************************   */

tooltip {
  border-color: #ff5b5b #f5edb5 #f5edb5 #ff5b5b;
  color: #ff5b5b;
}
