* {
  border-radius: 4px;
  font-family: 'DejaVu Sans Mono';
  font-size: 12px;
  border: 1px solid transparent;
  background-color: transparent;
}

window {
  border-color: #e9eee6;
  background-color: rgba(23, 18, 26, 0.5);
}

#input {
  border-bottom-color: #e9eee6;
}

#entry {
  color: #e9eee6;
}

#entry:selected {
  border-color: #e9eee6;
  background-color: #e9eee6;
  color: #17121a;
}
