* {
  border-radius: 4px;
  font-family: "DejaVu Sans Mono";
  font-size: 16px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #f5edb5;
}

window {
  border-color: #f5edb5;
  background-color: #17121a;
}

#input {
  border-bottom-color: #f5edb5;
}

#entry:selected {
  border-color: #f5edb5;
  background-color: #110e14;
}
