@define-color dark #ffffff;
/*@define-color dark-dim rgba(, , , 1);
@define-color dark-bright rgba(, , , 1);

@define-color red rgba(, , , 1);
@define-color red-dim rgba(, , , 1);
@define-color red-bright rgba(, , , 1);

@define-color green rgba(, , , 1);
@define-color green-dim rgba(, , , 1);
@define-color green-bright rgba(, , , 1);

@define-color yellow rgba(, , , 1);
@define-color yellow-dim rgba(, , , 1);
@define-color yellow-bright rgba(, , , 1);

@define-color blue rgba(, , , 1);
@define-color blue-dim rgba(, , , 1);
@define-color blue-bright rgba(, , , 1);

@define-color magenta rgba(, , , 1);
@define-color magenta-dim rgba(, , , 1);
@define-color magenta-bright rgba(, , , 1);

@define-color cyan rgba(, , , 1);
@define-color cyan-dim rgba(, , , 1);
@define-color cyan-bright rgba(, , , 1);

@define-color light rgba(, , , 1);
@define-color light-dim rgba(, , , 1);
@define-color light-bright rgba(1 ,1 ,1 ,1); 
*/

